.c-costs {
	position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;

  padding: 20px 30px;
}

.c-costs h4 {
  margin-bottom:0px;
  margin-top: 0px;
}

.c-costs .c-costs__costs-table > thead > tr > th {
  color: white !important;
  font-weight: bold !important;
  font-size: 14px !important;
}

.c-costs .c-costs__costs-table > thead > tr >  th,
.c-costs .c-costs__costs-table > tbody > tr >  td:not(.c-costs__item-editing) {
  margin: 0px;
  padding: 15px 5px !important;
}

.c-costs .c-costs__costs-table > tbody > tr >  td.c-costs__item-editing {
  margin: 0px;
  padding: 0px 5px 5px 5px !important;
}

.c-costs .c-costs__costs-table .c-costs__date-column,
.c-costs .c-costs__costs-table .c-costs__cost-column,
.c-costs .c-costs__costs-table .c-costs__action-column {
  width: 20%;
}

.c-costs .c-costs__costs-table .c-costs__description-column {
  width: 40%;
}

.c-costs .c-costs__costs-table .c-costs__date-column {
  overflow: visible !important;
}

.c-costs__no-data {
  position: absolute;
  left: 50%;  
  top: 60%;
  transform: translate(-50%, -50%);
}

.c-costs__no-data div {
  text-align: center;
}
 
.c-costs__no-data-description {  
  color:  grey;
}

.c-costs__loading {
  margin-top: 100px;
  left: 50%;
  color: #ffffff;
  text-align: center;
}

.c-costs__btn-add {
  margin: 15px 5px;
}

@media(max-width: 768px) {
	.c-costs {
		padding: 0px;
	}

  .c-costs__date-header, .c-costs__cost-header {
    width: 50%;
  }
   
}