.c-add-app-dialog__cancel-button {
  float: right;
}

.c-add-app-dialog__app-type-list {
  padding-left: 0;
}

.c-add-app-dialog__app-type-list-item {
  list-style-type: none;
  border-bottom: 1px solid #ccc;
}

.c-add-app-dialog__app-type-list-item.is-app-type {
  margin-left: 30px;
}


.c-add-app-dialog__app-type-list-button {
  display: block;
  width: 100%;
  padding: .8em .2em;
  appearance: none;
  outline: none;
  border: 0;
  background: none;
  text-align: left;
}
.c-add-app-dialog__app-type-list-button:hover {
  background-color: #eee;
}