.c-add-app-dialog {
  position: absolute;
  top: 20%;
  left: 30%;
  right: 30%;
  bottom: 20%;
  border-radius: 0;
  padding: 20px;
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  outline: none;
}

@media(max-width: 768px) {
  .c-add-app-dialog {
    left: 10px;
    right: 10px;
    top: 60px;
    bottom: 10px;
  }
}
  
.c-add-app-dialog__header {
  display: flex;
  justify-content: space-between;
}

.c-add-app-dialog__title {
  font-weight: bold;
}
.c-add-app-dialog__subtitle {
  margin: 8px 0;
  font-size: 1.2rem;
  font-weight: normal;
}

.c-add-app-dialog__controls {
  flex: 1;
}

.c-add-app-dialog__category {
  display: flex;
  margin: 30px 0;
  border-bottom: 1px solid white;
}
.c-add-app-dialog__category-title {
  margin: 0;
}
.c-add-app-dialog__category-subtitle {
  margin: 8px 0;
  font-size: 1.2rem;
}

.c-add-app-dialog__app-type-list {
  padding-left: 0;
  display: flex;
}

.c-add-app-dialog__app-type-list-item {
  list-style-type: none;
  margin: 0 0 20px 50px;
  text-align: center;
}

.c-add-app-dialog__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
