.c-app-component {
    width: 100%;
    height: 100%;
    padding: 0px;
}


.c-app-component__error {
    width: 100%;
    height: 100%;
    padding: 10px;  
    align-items: center;
    display: flex;
    justify-content: center;
}

.c-app-component__error i {
    display: block;
    font-size: 10rem;
    color: #ff0000;
}

.c-app-component__error h1 {
    display: block;
    font-size: 1rem;
    margin-top: 1rem;
    color: #FFFFFF;
}