.c-app-container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: rgb(32, 31, 31);
}

.c-app-container--maximized {
  position: fixed;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  width: auto;
  height: auto;
  z-index: 3000;
  box-shadow: 0px 0px 18px 3px rgba(0,0,0,0.75);
}

.c-app-container-asset-name {
  position: absolute;
  right: 13px;
  top: 13px;
  line-height: 20px;
  padding: 0 12px;
  border-radius: 10px;
  background-color: rgb(99, 183, 245);
  font-size: .85rem;
}

.c-app-container--maximized .c-app-container-asset-name {
  top: 10px;
  right: 95px;
}

.c-app-container-asset-name:empty {
  display: none;
}

.c-app-container h4.c-app-container__title {
  font-weight: 900;
  margin: 0 0 1px 3px;
  font-size: 1.45rem;
  line-height: 1.9rem;  
  font-family: 'Open Sans';
  letter-spacing: 0.5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

}

.c-app-container h5.c-app-container__subtitle {
  color: #bbb;
  margin: 0;
  font-size: 0.815rem;
  margin-left: 3px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  line-height: 1rem;
}

.c-app-container--editable .c-app-container__title, .c-app-container--editable .c-app-container__subtitle {
  cursor: move;
}

.c-app-container__content {
  position: absolute;
  left: 10px;
  right: 10px;
  top: 0;
  bottom: 30px;
}

.c-app-container--full-height .c-app-container__content {
  bottom: 0px;
}

.c-app-container--with-title .c-app-container__content {
  top: 32px;
}
.c-app-container--with-subtitle .c-app-container__content {
  top: 52px;
}


.c-app-container__last-update {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 10px;
  color:rgb(200, 200, 200);
}

.c-app-container__actions {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  visibility: hidden; /* Hide actions by default */
}
/* Show actions on mouseover */
.c-app-container:hover .c-app-container__actions {
  visibility: visible;
}
/* Show actions on touch devices (through class added by Modernizr) */
.touchevents .c-app-container__actions {
  visibility: visible;
}
/* Show actions on top on maximized apps */
.c-app-container--maximized .c-app-container__actions {
  visibility: visible;
  top: 0;
  bottom: auto;
}

.c-app-container__action {
  float: right;
  width: 40px;
  height: 40px;
  padding: 12px;
  color: white;
  border: none;
}

.c-app-container__action i {
  margin-left: -5px;
  margin-top: -5px;
  font-size: 1.3rem;
}
.c-app-container__action--maximize {
  background-color: transparent;
  margin-right: 3px;
}
.c-app-container__action--maximize:hover {
  color: rgb(0, 207, 197);
}
.c-app-container__action--settings {
  background-color: transparent;
  margin-right: -5px;
}
.c-app-container__action--settings:hover {
  color: rgb(0, 207, 197);
}

.c-app-container__error {
    width: 100%;
    height: 100%;
    padding: 10px;
    overflow: hidden;
}

.c-app-container__error-grid {
    height: 100%;
    text-align: center;
    display: table;
}

.c-app-container__error-inner {
    width: 100%;
    height: 100%;
    padding: 10px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.c-app-container__error i {
    font-size: 7rem;
    color: #ff0000;
    display: block;
}

.c-app-container__error h1 {
    font-size: 1rem;
    margin-top: 1rem;
    color: #FFFFFF;
    display: block;
}

.c-app-container__error a {
    font-size: 1rem;
    margin-top: 1rem;
    color: #FFFFFF;
    text-decoration: underline;
    display: block;
}