.c-app-grid-layout .react-grid-item {
  overflow: visible;
}

button.c-app-grid__add-app {
  margin: 1px 0 15px 10px;
  background-color: #3c5c5b;
}

button.c-app-grid__add-app:hover {
  background-color: #568281;
}

button.c-app-grid__add-app i {
  font-size: .9rem;
  margin: 1px 5px 0 -2px;
}
