.c-app-settings-dialog {
  position: absolute;
  top: 15%;
  left: 17%;
  right: 17%;
  bottom: 12%;
  border-radius: 0;
  padding: 20px;
  border: 1px solid #ccc;
  background: white;
  color: black;
  overflow: visible;
  -webkit-overflow-scrolling: touch;
  outline: none;
  z-index: 4001;
}

@media(max-width: 768px) {
  .c-app-settings-dialog {
    left: 10px;
    right: 10px;
    top: 60px;
    bottom: 10px;
  }
}

.c-app-settings {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.c-app-settings header {
  margin-bottom: 10px;
  border-bottom: 1px solid #888;
}

.c-app-settings__title {
  font-weight: bold;
  font-size: 28px;
}

.c-app-settings__subtitle {
  font-size: 16px;
  margin-bottom: 20px;
  margin-top: 5px;
}

.c-app-settings__grid {
  width: 100%;
}

.c-app-settings__title {
  margin: 0;
}

.c-app-settings__tabs li {
  border-right: 1px solid #888;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}
.c-app-settings__tabs li:last-child {
  border-right: 0;
}
button.c-app-settings__tab-btn {
  padding: 2px 6px;
}

.c-app-settings__done {
  float: right;
  border-radius: 0 !important;
  width: 120px;
  height: 40px;
  margin-top: 5px;
}

.c-app-settings__columns {
  flex: 1;
  display: flex;
  align-items: stretch;
}
.c-app-settings__column {
  flex: 1;
}
.c-app-settings__column--left {
  padding-right: 10px;
  border-right: 1px solid #ccc;
}
.c-app-settings__column--right {
  padding-left: 10px;
}

.c-app-settings-dialog__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 4000;
}

.c-app-settings__editor {
  clear: both;
  padding-top: 5px;
}

.c-app-settings__editor .caret {
  border-color: transparent !important;
  margin: auto 15px 18px auto !important;
}

.c-app-settings__editor .btn {
  border-radius: 0;
  width: 100%;
  height: 35px;
}

.c-app-settings__editor .btn span {
  vertical-align: top;
}

.c-app-settings__editor h5 {
  font-size: 20px !important;
}

.c-app-settings__editor .select-wrapper li span {
  background-color: #e0e0e0;
  color: #000000;
}

.c-app-settings__editor .select-wrapper li:hover span {
  background-color: #eeeeee;
  color: #000000;
}

.c-app-settings__editor .select-wrapper input.select-dropdown {
  font-size: 20px;
  padding-left: 10px;
  border-bottom: none;
  height: 40px;
}

.c-app-settings__editor .c-chart-colors-editor .c-chart-colors-editor__header {
  font-size: 16px;
}

.c-app-settings__editor .c-chart-colors-editor .c-chart-colors-editor__header span.c-chart-colors-editor__color-box {
  margin: 3px 5px 0 2px;
  vertical-align: top;
}

.c-app-settings__editor .input-field {
  margin-top: 0;
}

.c-app-settings__description {
  padding-top: 10px;
}
