.c-di-slidesheet {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
}

.c-di-slidesheet-head {
  overflow-x:hidden;  
}

.c-di-slidesheet-head-inner {
  width: calc(100% + 25px);
  overflow-y: scroll;
}


.c-di-slidesheet-head thead {
  padding-top: 0px;
  padding-bottom: 5px;
  border-bottom: none;
}

.c-di-slidesheet-head th {
  padding-top: 5px;
  padding-bottom: 5px;
}

.c-di-slidesheet-head th span {
  opacity: 0.5;
  font-size: 0.8rem;
}

.c-di-slidesheet-body {
  height: calc(100% - 25px);
  overflow-x: hidden;
}

.c-di-slidesheet-body-inner {
  height: calc(100% - 25px);
  width: calc(100% + 25px);
  overflow-y: scroll;
  
}

.c-di-slidesheet-body tr{
  border-bottom: 1px solid #fff;
}

.c-di-slidesheet-body tr:nth-child(odd) {
  background-color: #2e2e2e;
}

.c-di-slidesheet-body tr:last-child{
  border-bottom: none;
}

.c-di-slidesheet-body tr td {
  padding-top: 2px;
  padding-bottom: 2px;
}