.c-di-slidesheet {
	position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.c-di-slidesheet thead {
	padding-top: 0px;
	padding-bottom: 5px;
	border-bottom: none;
}

.c-di-slidesheet thead th {
	padding-bottom: 5px;
}

.c-di-slidesheet tr{
	border-bottom: 1px solid #fff;
}

.c-di-slidesheet tr span {
	opacity: 0.5;
	font-size: 0.8rem;
}

.c-di-slidesheet tr:last-child{
	border-bottom: none;
}

.c-di-slidesheet tr td {
	padding-top: 2px;
	padding-bottom: 2px;
}