
.c-add-app-dialog-listing__header {
  margin: -20px -20px 20px -20px;
  padding: 20px 20px 0px 20px;
  display: flex;
  justify-content: space-between;
  background: #1d1d1d;
}

.c-add-app-dialog-listing__title {
  font-weight: bold;
  font-size: 1.85rem;
}
.c-add-app-dialog-listing__subtitle {
  margin-top: 4px;
  font-weight: normal;
  font-size: 1.3rem;
}

.c-add-app-dialog-listing__controls {
  flex: 1;
  margin-top: 17px;
  margin-left: 30px !important;
}

.c-add-app-dialog-listing__controls span.caret {
  color: #9e9e9e !important;
}

.c-add-app-dialog-listing__controls .select-wrapper input.select-dropdown {
  text-indent: 5px;
}

.c-add-app-dialog-listing__category {
  padding: 25px 0 15px;
  border-bottom: 1px solid white;
}


.c-add-app-dialog-listing__category-title {
  margin: 0;
  font-size: 1.5rem;
}

.c-add-app-dialog-listing__category-subtitle {
  margin: 8px 0;
  font-size: 1rem;
}

.c-add-app-dialog-listing__app-type-list {
  padding-left: 0;
  display: flex;
}

.c-add-app-dialog-listing__app-type-list-item {
  text-align: center;
  margin-left: 0 !important;
  min-width: 150px;
  width: 150px;
}
