.c-app-icon {
  width: 130px;
}
.c-app-icon--is-clickable {
  cursor: pointer;
}
.c-app-icon__pentagon {
  fill: white;
  stroke: rgb(0, 169, 207);
  stroke-width: 4;
}
.c-app-icon--is-clickable .c-app-icon__pentagon:hover {
  fill: #ddd;
}
.c-app-icon__icon {
  fill: rgb(0, 169, 207);
  pointer-events: none;
}

.c-app-icon__name {
  fill: rgb(255, 255, 255);
  pointer-events: none;
  font-size: 1.5rem;
  font-family: orgonboldregular;
}