.c-pdm-overview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.c-pdm-overview p {
    padding: 0px;
    margin: 0px;
}
.c-pdm-overview .gaps {
    margin-top: 15px;
}

.c-pdm-overview .row {
    margin: 0;
}

.c-pdm-overview .row .col {
    padding-left: 3px;
}

.c-pdm-overview__gauge-title {
  font-size: 1rem;
  font-weight: bold;
  margin: 0rem 0 .1rem;
  color: #bbb;
}

.c-pdm-overview-statistics .pressure {
  font-weight: bold;
  font-size: 4vw;
  line-height: 1;
  margin-top: 5px;
  margin-bottom: 40px;
}

.c-pdm-overview-statistics .pressure span {
    font-size: .5em;
}

.c-pdm-overview__torque {
  height: 100px;
  margin-bottom: 10px;
}

.c-pdm-overview__torque-label-left {
  padding-left: 51px !important;
  color: #bbb;
}

.c-pdm-overview__torque-label-right {
  padding-right: 22px !important;
  text-align: right;
  color: #bbb;
}

.c-pdm-overview__torque-title {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  color: #bbb;
}
