.c-settings-record-browser__filter.row .col{
  padding:0px;
}

.c-settings-record-browser__filter.row .col.m1 {
  margin-top: 15px;
  text-align: right;
  padding-right: 10px;
}

.c-settings-record-browser__no-data {
  position: absolute;
  left: 50%;  
  top: 60%;
  transform: translate(-50%, -50%);
}

.c-settings-record-browser__no-data div {
  text-align: center;
}
 
.c-settings-record-browser__no-data-description {  
  color:  grey;
}
