
.c-asset-status-indicator{
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  border-radius: 50%;
}

.c-asset-status-indicator__marker {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  border-radius: 50%;
}

.c-asset-status-indicator__marker--drilling {
  background-color: limegreen;
}
