.c-op-summaries {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;

  padding: 20px 30px;
}

.c-op-summaries h4 {
  margin-top: 0px;
  margin-bottom:0px;
}

.c-op-summaries__date-header {
  width: 30%;
}

.c-op-summaries__summary-header {
  width: 40%;
}

.c-op-summaries__action-header, .c-op-summaries__user-header{
  width: 15%;
}

.c-op-summaries__no-data {
  position: absolute;
  left: 50%;  
  top: 60%;
  transform: translate(-50%, -50%);
}

.c-op-summaries__no-data div {
  text-align: center;
}
 
.c-op-summaries__no-data-description {  
  color:  grey;
}

.c-op-summaries__loading {
  margin-top: 100px;
  left: 50%;
  color: #ffffff;
  text-align: center;
}

@media(max-width: 768px) {
  .c-op-summaries {
    padding:0px;
  }
  
  .c-op-summaries__date-header {
    width: 50%;
  }

  .c-op-summaries__summary-header {
    width: 50%;
  }  
  
}