.c-alert {
    background-color: #CCC;
    border-bottom: 1px solid #CCC;
    position: relative;
}

.c-alert-level-info {
    background-color: rgb(119, 195, 241);
}

.c-alert-level-warning {
    background-color: rgb(242, 192, 70);
}

.c-alert-level-error {
    background-color: rgb(237, 70, 48);
}

.c-alert-contents {
    background-color: #FFF;
    margin-left: 3rem;
    padding: .75rem 0 .75rem 1.25rem;
}

.c-alert-header h3 {
    color: #333;
    font-weight: bold;
    font-size: 1.3rem;
    margin: 0;
    padding: 0 0 .2rem 0;
}

.c-alert-asset,
.c-alert-timestamp {
    color: #333;
    font-size: .9rem;
    font-weight: bold;
    padding: 0 .75rem;
}

.c-alert-asset {
    border-right: 1px solid #CCC;
}

.c-alert-description {
    color: #999;
    font-size: 1rem;
    margin: 0;
    padding: .1rem 0;
}

.c-alert-decision-path-header {
    font-size: 1rem;
    font-weight: bold;
    color: rgb(41, 94, 221);
    margin: 0;
    padding: .5rem 0 .25rem 0;
}

.c-alert-decision-path {
    font-size: 1rem;
    color: #333;
    margin: 0;
    padding: 0;
}
