.c-asset-tab-bar {
  left: 0;
  right: 0;
  height: 50px;
  padding-left: 0;
  list-style-type: none;
  background-color: #4E4A49;
}
.c-asset-tab-bar a {
  display: block;
  float: left;
  width: 60px;
  height: 50px;
  background-size: 48px 40px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  text-indent: -9999px;
  transition: background-color 0.2s linear;
}
.c-asset-tab-bar li span {
  display: block;
  float: left;
  width: 63px;
  height: 50px;
  line-height: 50px;
  font-size: 1.15rem;
  margin-left: 14px;
}
.c-asset-tab-bar li i {
  display: block;
  float: left;
  width: 37px;
  height: 50px;
  font-size: 2rem;
  color: gold;
  line-height: 50px;
  margin-top: 1px;
}
.c-asset-tab-bar a.is-active, .TabBar a:hover {
  background-color: #58c9c2;
}
.c-asset-tab-bar .c-asset-tab-bar__overview-tab a {
  background-image: url('../../images/icon-overview.png');
}
.c-asset-tab-bar .c-asset-tab-bar__torqueAndDrag-tab a {
  background-image: url('../../images/icon-torque.png');
}
.c-asset-tab-bar .c-asset-tab-bar__drillingEfficiency-tab a {
  background-image: url('../../images/icon-efficiency.png');
}
.c-asset-tab-bar .c-asset-tab-bar__stability-tab a {
  background-image: url('../../images/icon-wellbore.png');
}
.c-asset-tab-bar .c-asset-tab-bar__hydraulics-tab a {
  background-image: url('../../images/icon-cleaning.png');
}
.c-asset-tab-bar .c-asset-tab-bar__bit-tab a {
  background-image: url('../../images/icon-vibration.png');
}
.c-asset-tab-bar .c-asset-tab-bar__motor-tab a {
  background-image: url('../../images/icon-motor.png');
}
.c-asset-tab-bar .c-asset-tab-bar__losses-tab a {
  background-image: url('../../images/icon-loss.png');
}
.c-asset-tab-bar .c-asset-tab-bar__traces-tab a {
  background-image: url('../../images/icon-trace.png');
}
.c-asset-tab-bar .c-asset-tab-bar__settings-tab a {
  background-image: url('../../images/icon-settings.png');
  background-size: 37px 34px; /* Settings icon image has different dimensions than the others; adjust */
}

.c-asset-tab-bar__current-tab-name {
  float: right;
  height: 60px;
  line-height: 60px;
  margin-right: 20px;
  font-size: 1.5em;

  color: white;
}