.c-asset-list-page {
  padding-top: 60px;
}

.c-asset-list-page__search {
  margin: 2rem 0;
}

.c-asset-list-page__no-assets {
  margin: 2rem 0;
  text-align: center;
  font-style: italic;
}

.c-asset-list-page__table th {
  font-weight: normal;
}
.c-asset-list-page__table td {
  font-size: 1.2em;
}
.c-asset-list-page__asset-link, .c-asset-list-page__asset-link:hover,  .c-asset-list-page__asset-link:focus,
.c-asset-list-page__sort-link, .c-asset-list-page__sort-link:hover, .c-asset-list-page__sort-link:focus {
  color: white;
}
.c-asset-list-page__sort-icon {
  margin-left: 10px;
}