.c-asset-tab-bar {
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  height: 60px;
  padding-left: 0;
  list-style-type: none;
  background-color: rgb(78, 74, 73);
}
.c-asset-tab-bar a {
  display: block;
  float: left;
  width: 70px;
  height: 60px;
  text-indent: -9999px;
  transition: background-color 0.2s linear;
}
.c-asset-tab-bar a.is-active, .TabBar a:hover {
  background-color: #58c9c2;
}
.c-asset-tab-bar .c-asset-tab-bar__overview-tab a {
  background-image: url('../../images/icon-overview.png');
}
.c-asset-tab-bar .c-asset-tab-bar__torqueAndDrag-tab a {
  background-image: url('../../images/icon-torque.png');
}
.c-asset-tab-bar .c-asset-tab-bar__stability-tab a {
  background-image: url('../../images/icon-wellbore.png');
}
.c-asset-tab-bar .c-asset-tab-bar__hydraulics-tab a {
  background-image: url('../../images/icon-cleaning.png');
}
.c-asset-tab-bar .c-asset-tab-bar__bit-tab a {
  background-image: url('../../images/icon-vibration.png');
}
.c-asset-tab-bar .c-asset-tab-bar__motor-tab a {
  background-image: url('../../images/icon-motor.png');
}
.c-asset-tab-bar .c-asset-tab-bar__losses-tab a {
  background-image: url('../../images/icon-loss.png');
}
.c-asset-tab-bar .c-asset-tab-bar__raw-tab a {
  background-image: url('../../images/icon-trace.png');
}

.c-asset-tab-bar__current-tab-name {
  float: right;
  height: 60px;
  line-height: 60px;
  margin-right: 20px;
  font-size: 1.5em;

  color: white;
}