.c-npt {
	position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;

  padding: 20px 30px;
}

.c-npt h4 {
  margin-top: 0px;
  margin-bottom:0px;
}

.c-npt .c-npt__npt-table > thead > tr > th {
  color: white !important;
  font-weight: bold !important;
  font-size: 14px !important;
}

.c-npt .c-npt__npt-table > thead > tr >  th,
.c-npt .c-npt__npt-table > tbody > tr >  td:not(.c-npt__item-editing) {
  margin: 0px;
  padding: 15px 5px !important;
}

.c-npt .c-npt__npt-table > tbody > tr >  td.c-npt__item-editing {
  margin: 0px;
  padding: 0px 5px 5px 5px !important;
}

.c-npt__comment-column, .c-npt__action-column ,.c-npt__depth-column , .c-npt__type-column{
  width: 15%;
}

.c-npt__starttime-column, .c-npt__endtime-column{
  width: 20%;
}

.c-npt__no-data {
  position: absolute;
  left: 50%;  
  top: 60%;
  transform: translate(-50%, -50%);
}

.c-npt__no-data div {
  text-align: center;
}
 
.c-npt__no-data-description {  
  color:  grey;
}

.c-npt__loading {
  margin-top: 100px;
  left: 50%;
  color: #ffffff;
  text-align: center;
}

.c-npt__btn-add {
  margin: 15px 5px;
}

@media(max-width: 768px) {
  .c-npt {
    padding:0px;
  }

  .c-npt__endtime-column, .c-npt__type-column {
    width: 50%;
  }
  
}