.c-trace-single {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.c-trace-single__latest {
  width: 225px;
}

.c-trace-single__graph {
  position: absolute;
  left: 225px;
  right: 0;
  bottom: 0;
  top: 0;
}

.c-trace-single__latest__value {
  font-family: orgonboldregular;
  font-size: 3rem;
  padding-right: 20px;
}


.c-trace-single .c-trace-single__loading {
  margin-top: -54px;
}