.c-wellsections {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;

  padding: 20px 30px;
}

.c-wellsections h4 {
  margin-top: 0px;
  margin-bottom:0px;
}

.c-wellsections .c-wellsections__wellsections-table > thead > tr > th {
  color: white !important;
  font-weight: bold !important;
  font-size: 14px !important;
}

.c-wellsections .c-wellsections__wellsections-table > thead > tr >  th,
.c-wellsections .c-wellsections__wellsections-table > tbody > tr >  td {
  margin: 0px;
  padding: 15px 5px !important;
}

.c-wellsections__name-column,
.c-wellsections__td-column ,
.c-wellsections__bd-column,
.c-wellsections__diameter-column,
.c-wellsections__action-column {
  width: 20%;
}

.c-wellsections__no-data {
  position: absolute;
  left: 50%;  
  top: 60%;
  transform: translate(-50%, -50%);
}

.c-wellsections__no-data div {
  text-align: center;
}
 
.c-wellsections__no-data-description {  
  color:  grey;
}

.c-wellsections__loading {
  margin-top: 100px;
  left: 50%;
  color: #ffffff;
  text-align: center;
}

.c-wellsections__btn-add {
  margin: 15px 5px;
}

@media(max-width: 768px) {
  .c-wellsections {
    padding:0px;
  }

  .c-wellsections__name-column, .c-wellsections__td-column, .c-wellsections__bd-column {
    width: 33.3%;
  }
  
}