.c-trace-tab {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
}

.c-trace-tab__boxes {
  flex: 1.2;
  position: relative;
}

.c-trace-tab__timeline {
  flex: 1;
  position: relative;
  min-width: 135px;
}

.c-trace-tab__trace {
  flex: 3;
  position: relative;
}