.c-traces {
   position: absolute;
   top: 10px;
   left: 0;
   width: 100%;
   height: 100%;
}

.c-traces__loading {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
}