.c-traces__box-column {
     width: 170px;
     height: calc(100% - 10px);
     border: 1px solid #333;
     background-color: #333;
     position: absolute;
     top: 0;
     right: 0;
 }

.c-traces__box-column__box-row {
    cursor: pointer;
    position: relative;
    background-color: #000;
    padding: 5px 8px !important;
    margin: 5px 5px 0 5px !important;
    font-size: 0.9rem;
}

.c-traces__box-column__box-row__x {
    position: absolute;
    top: 2px;
    right: 2px;
    cursor: pointer;
    color: #555;
    transition: all 0.2s linear;
}

.c-traces__box-column__box-row__x:hover {
    color: #fff;
}

.c-traces__box-column__box-row__value {
    font-weight: bold;
    font-size: 1.25rem;
}

.c-traces__box-column__box-row .col {
    padding: 0 !important;
}

.c-traces__box-column button {
    margin: 5px 5px 0 5px !important;
    border-radius: 0;
    color: #fff;
    background-color: #000;
    width: calc(100% - 10px);
}


.c-traces__box-column__edit-trace {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0;
    padding: 20px;
    border: 1px solid #ccc;
    background: white;
    color: black;
    overflow: visible;
    -webkit-overflow-scrolling: touch;
    outline: none;
    z-index: 4001;
}

.c-traces__box-column__edit-trace.shouldDisplayUnitOptions {
    left: 30%;
    right: 30%;
}

@media(max-width: 768px) {
    .c-traces__box-column__edit-trace {
        left: 10px;
        right: 10px;
        top: 60px;
        bottom: 10px;
    }
}
.c-traces__box-column__edit-trace__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 4000;
}

.c-traces__box-column__edit-trace__form {
    margin-left: 10px;
    margin-right: 10px;
}

.c-traces__box-column__edit-trace__form .input-field {
    margin-top: 25px;
}

.c-traces__box-column__edit-trace__dialog {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.c-traces__box-column__edit-trace__dialog header {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #888;
}
.c-traces__box-column__edit-trace__dialog__title {
    font-weight: bold;
    font-size: 28px;
}
.c-traces__box-column__edit-trace__dialog__title, .c-traces__box-column__edit-trace__dialog__subtitle {
    margin: 0;
}
.c-traces__box-column__edit-trace__overlay .slider-picker {
    margin-top: 0;
}
.c-traces__box-column__edit-trace__dialog__done {
    float: right;
    border-radius: 0 !important;
    width: 100%;
    height: 40px;
    margin-top: 5px;
    vertical-align: bottom;
}
.c-traces__box-column__edit-trace__dialog__cancel {
    float: right;
    border-radius: 0 !important;
    width: 100%;
    height: 40px;
    margin-top: 5px;
    vertical-align: bottom;
    background-color: #888 !important;
}
.c-traces__box-column__edit-trace__dialog__button-row {
    margin: 5px 0 0 0 !important;
}
.c-traces__box-column__edit-trace__bold {
    font-weight: bold;
}

.c-traces__box-column__edit-trace__dialog .caret {
    border-color: transparent !important;
    margin: auto 15px 18px auto !important;
}

.c-traces__box-column__edit-trace__dialog .btn {
    border-radius: 0;
    width: 100%;
    height: 35px;
}

.c-traces__box-column__edit-trace__dialog .btn span {
    vertical-align: top;
}

.c-traces__box-column__edit-trace__dialog h5 {
    font-size: 20px !important;
}

.c-traces__box-column__edit-trace__dialog .select-wrapper li span {
    background-color: #e0e0e0;
    color: #000000;
}

.c-traces__box-column__edit-trace__dialog .select-wrapper li:hover span {
    background-color: #eeeeee;
    color: #000000;
}

.c-traces__box-column__edit-trace__dialog .col.input-field label {
    left: 0;
}

.c-traces__box-column__edit-trace__checkboxes {
    clear: both;
    padding-top: 10px !important;
    margin-bottom: 10px !important;
}

.c-traces__box-column__edit-trace__scaling-values {
    margin-bottom: 0 !important;
}

.c-traces__box-column__edit-trace__checkboxes div div, .c-traces__box-column__edit-trace__scaling-values div div {
    padding: 0 !important;
}