.c-daily-reports {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;

  padding: 20px 30px;
}

.c-daily-reports h4 {
  margin-bottom:0px;
  margin-top: 0px;
}

.c-daily-reports a {
  color: #69bbcd;
  text-decoration: underline;;
}

.c-daily-reports__file-header{
  width: 50%;
}

.c-daily-reports__date-header {
  width: 30%;
}

.c-daily-reports__user-header, .c-daily-reports__action-header {
  width: 10%;
}

@media(max-width: 768px) {
  .c-daily-reports {
    padding: 0px;
  }
  

  .c-daily-reports__file-header{
    width: 55%;
  }

  .c-daily-reports__date-header {
    width: 45%;
  }
}