.c-daily-reports-summary {
  background-color: rgb(42, 41, 41);
  margin: 10px 0;
  padding: 10px 0;
}

.c-daily-reports-summary td {
  border-radius: 0px;
  padding-top:5px;
  padding-bottom:5px;
}

.c-daily-reports-summary .btn-action {
  width: 30px;
  height:30px;
  line-height:30px;
}

.c-daily-reports-summary .btn-action i {
  line-height: 30px;
}

.c-daily-reports-summary-file {
  width: 90%;
}

.c-daily-reports-summary-action {
  width: 10%;
}

.c-daily-reports-summary-action .c-daily-reports-summary-action__download-button {
  min-height: 56px;
  width: 56px;
} 

.c-daily-reports-summary-action i {
  font-size: 5rem;
}


@media(max-width: 768px) { 
  .c-daily-reports-summary-file {
    width: 100%;
  }

  .c-daily-reports-summary-action {
    width: 0%;
  }

}