.c-files-documents {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;

  padding: 20px 30px;
}

.c-files-documents h4 {
  margin-bottom:0px;
  margin-top: 0px;
}

.c-files-documents .c-files-documents__files-documents-table > thead > tr > th {
  color: white !important;
  font-weight: bold !important;
  font-size: 14px !important;
}

.c-files-documents .c-files-documents__files-documents-table > thead > tr >  th,
.c-files-documents .c-files-documents__files-documents-table > tbody > tr >  td:not(.c-files-documents__item-editing) {
  margin: 0px;
  padding: 15px 5px !important;
}

.c-files-documents .c-files-documents__files-documents-table > tbody > tr >  td.c-files-documents__item-editing {
  margin: 0px;
  padding: 0px 5px 5px 5px !important;
}

.c-files-documents__no-data {
  position: absolute;
  left: 50%;  
  top: 60%;
  transform: translate(-50%, -50%);
}

.c-files-documents__no-data div {
  text-align: center;
}
 
.c-files-documents__no-data-description {  
  color:  grey;
}

.c-files-documents__loading {
  margin-top: 100px;
  left: 50%;
  color: #ffffff;
  text-align: center;
}

.c-files-documents a {
  color: #69bbcd;
  text-decoration: underline;;
}

.c-files-documents__file-column{
  width: 50%;
}

.c-files-documents__date-column {
  width: 30%;
}

.c-files-documents__user-column, .c-files-documents__action-column {
  width: 10%;
}

@media(max-width: 768px) {
  .c-files-documents {
    padding: 0px;
  }
  

  .c-files-documents__file-column{
    width: 55%;
  }

  .c-files-documents__date-column {
    width: 45%;
  }
}