.c-crews-summary {
  background-color: rgb(42, 41, 41);
  margin: 10px 0;
  padding: 10px 0;
}

.c-crews-summary table {
	overflow-x: visible;
}

.c-crews-summary__layers p,
.c-crews-summary__layers h4{
	text-align: left;
	padding-left: 15%;
}

.c-crews-summary__action{	
	width: 15%;
}
