.c-crews-item:nth-child(even) {
  background-color: rgb(41,41,41);
}

.c-crews-item:hover {
  background-color: rgb(96,91,91);
}

.c-crews-item .view-action {
  display:none;
}

.c-crews-item:hover .view-action {
  display: inline;  
}

.c-crews-item button {
  margin-left: 10px;
}

 .c-crews-item .input-field{
  margin-top: 0px;
}

.c-crews-item .input-field.col label{
  left: 0;
  width: 100%;
}

.c-crews-item .input-field.col label:after{
  top:40px;
}

.c-crews-item td {
  border-radius: 0px;
  padding-top:12px;
  padding-bottom:12px;
  height:65px;
}

.c-crews__no-data {
  position: absolute;
  left: 50%;  
  top: 60%;
  transform: translate(-50%, -50%);
}

.c-crews__no-data div {
  text-align: center;
}
 
.c-crews__no-data-description {  
  color:  grey;
}