.c-well-timeline-status-bar {
  width: 100%;
  box-sizing: border-box;
  height: 30px;


  user-select: none;
  z-index: 1100;

  font-size: 12px;

  background-color: #303131;
  color: #eee;
  border-top: 1px solid #8d8a8a;
  cursor: pointer;
}
.c-well-timeline-status-bar:hover {
  background-color: #568281;
}

.c-well-timeline-status-bar__space {
  display: inline-block;
  width: 5px;
}

.c-well-timeline-status-bar__space--sm {
  width: 10px;
}

.c-well-timeline-status-bar__space--md {
  width: 20px;
}

.c-well-timeline-status-bar__space--lg {
  width: 25%;
}

.c-well-timeline-status-bar__stats-box {
  line-height: 30px;
  font-size: 12px;
}

.c-well-timeline-status-bar__stats-bit {
  width: 90px;
}

.c-well-timeline-status-bar__stats-hole {
  width: 100px;
}

.c-well-timeline-status-bar__string_mark {
  width: 13px;
  height: 13px;
  background-color: #b11ae9;
  display: inline-block;
  vertical-align: middle;
  margin-top: -3px;
}

.c-well-timeline-status-bar__status_mark {
  width: 10px;
  height: 10px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 10px;
  margin-top: -3px;
}

/* Colors for other statuses can be added here */
.c-well-timeline-status-bar__status_mark--live {
  color: #6cf81f;
}
.c-well-timeline-status-bar__status_mark--rewind {
  color: #f8ee00;
}
.c-well-timeline-status-bar__status_mark {
  font-size: 3rem;
  line-height: 12px;
  margin-right: 11px;
}

.c-well-timeline-status-bar__title {
  font-family: 'orgonboldregular';
}
.c-well-timeline-status-bar__parent-title {
  margin-right: 20px;
}
.c-well-timeline-status-bar__value {
  margin-left: 8px;
}

.c-well-timeline-status-bar__timeline-toggle {
  line-height: 30px;
  font-size: 0.8rem;
  border: 0;
  background: transparent;
  width: 150px;
  left: calc(50% - 75px);
  position: absolute;
}
