.c-well-timeline-scroll-bar {
  display: block;
  width: 100%;
  border-top: 3px solid #ffffff;
  height: 400px;
  background-color: #303333;
  margin-bottom: 1px;
  margin-top: 1px;
}
.c-well-timeline-scroll-bar__chart-container {
  display: block;
  width: 100%;
  height: 347px;
}
.c-well-timeline-scroll-bar__chart-container .highcharts-axis-labels.highcharts-yaxis-labels span {
  left: 2px !important;
  font-size: .55rem !important;
}
.c-well-timeline-scroll-bar__slider-container {
  display: block;
  width: 100%;
  border-top: 3px solid #ffffff;
  border-bottom: 3px solid #ffffff;
  height: 53px;
}

.c-well-timeline-scroll-bar__arrow {
  float: left;
  width: 20px;
  height: 47px;
  border: 0;
  background: #8f9797;
}
.c-well-timeline-scroll-bar__arrow-left, .c-well-timeline-scroll-bar__arrow-right {
  position: absolute;
  width: 0;
  height: 0;
  margin-top: -2px;
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
  user-select: none
}
.c-well-timeline-scroll-bar__arrow-left {
  border-right: 8px solid #354849;
  margin-left: -5px;
}
.c-well-timeline-scroll-bar__arrow-right {
  border-left: 8px solid #354849;
  margin-left: -3px
}

.c-well-timeline-scroll-bar__bar {
  display: block;
  position: relative;
  float:left;

  width: calc(100% - 60px);
  height: 47px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #303333;
}

.c-well-timeline-scroll-bar__slider {
  width: 100%;

}

.c-well-timeline-scroll-bar__slider .rc-slider {
  background-color: transparent;
  height: 47px;
}

.c-well-timeline-scroll-bar__slider .rc-slider-track, .c-well-timeline-scroll-bar__slider .rc-slider-rail {
  background-color: transparent;
}

.c-well-timeline-scroll-bar__slider .rc-slider-handle {
  background: #58c9c2 url('../../images/slider-handle.png');
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: center;
  background-position-y: center;
  width: 56px;
  height: 21px;
  margin-top: 7.5px;
  margin-left: -28px;
  border-radius: 3px;
  border: 0;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.c-well-timeline-scroll-bar__activity {
  position: absolute;
  height: 47px;
}

.c-well-timeline-scroll-bar__activity--3 {
  background-color: #1a9b70;
}

.c-well-timeline-scroll-bar__activity--5 {
  background-color: #72b49e;
}

.c-well-timeline-scroll-bar__legend {
  position: absolute;
  font-size: .8rem;
  top: 15px;
  width: 100%;
}
.c-well-timeline-scroll-bar__legend__day {
  display: inline-block;
  text-align: center;
}
