.c-casing-table table {
  width: 100%;
}

.c-casing-table thead tr {
  border-bottom: 1px solid white;
}

.c-casing-table tbody tr:nth-child(even) {
  background-color: rgb(42, 41, 41);
}

.c-casing-table th,
.c-casing-table td,
.c-casing-table td .col {
  margin: 0;
  padding: 0 5px;
}