.c-casing {
	position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;

  padding: 20px 30px;
}

.c-casing h4 {
  margin-bottom:0px;
  margin-top: 0px;
}

.c-casing .c-casing__casing-table > thead > tr > th {
  color: white !important;
  font-weight: bold !important;
  font-size: 14px !important;
}

.c-casing .c-casing__casing-table > thead > tr >  th,
.c-casing .c-casing__casing-table > tbody > tr >  td:not(.c-casing__item-editing) {
  margin: 0px;
  padding: 15px 5px !important;
}

.c-casing .c-casing__casing-table > tbody > tr >  td.c-casing__item-editing {
  margin: 0px;
  padding: 0px 5px 5px 5px !important;
}

.c-casing__id-column, .c-casing__od-column, .c-casing__td-column,.c-casing__bd-column, .c-casing__lm-column, .c-casing__action-column {
  width: 14%;
}

.c-casing__length-column, .c-casing__grade-column {
  width: 8%;
}

.c-casing__no-data {
  position: absolute;
  left: 50%;  
  top: 60%;
  transform: translate(-50%, -50%);
}

.c-casing__no-data div {
  text-align: center;
}
 
.c-casing__no-data-description {  
  color:  grey;
}

.c-casing__loading {
  margin-top: 100px;
  left: 50%;
  color: #ffffff;
  text-align: center;
}

.c-casing__btn-add {
  margin: 15px 5px;
}

@media(max-width: 768px) {
	.c-casing {
		padding: 0px;
	}

  .c-casing__id-column, .c-casing__od-column, .c-casing__length-column{
    width: 33%;
  }
   
}