.c-casing {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;

  padding: 20px 30px;
}


.c-casing-viewer h4 {
  padding-top: 0px;
  padding-bottom: 0px;
}