@font-face {
  font-family: 'gothamboldregular';
  src: url('./fonts/Gotham/gothambold-webfont.eot');
  src: url('./fonts/Gotham/gothambold-webfont.eot?#iefix') format('embedded-opentype'),
  url('./fonts/Gotham/gothambold-webfont.woff') format('woff'),
  url('./fonts/Gotham/gothambold-webfont.ttf') format('truetype'),
  url('./fonts/Gotham/gothambold-webfont.svg#gothamboldregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'gothambookregular';
  src: url('./fonts/Gotham/gothambook-webfont.eot');
  src: url('./fonts/Gotham/gothambook-webfont.eot?#iefix') format('embedded-opentype'),
  url('./fonts/Gotham/gothambook-webfont.woff') format('woff'),
  url('./fonts/Gotham/gothambook-webfont.ttf') format('truetype'),
  url('./fonts/Gotham/gothambook-webfont.svg#gothambookregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'gothammediumregular';
  src: url('./fonts/Gotham/gothammedium-webfont.eot');
  src: url('./fonts/Gotham/gothammedium-webfont.eot?#iefix') format('embedded-opentype'),
  url('./fonts/Gotham/gothammedium-webfont.woff') format('woff'),
  url('./fonts/Gotham/gothammedium-webfont.ttf') format('truetype'),
  url('./fonts/Gotham/gothammedium-webfont.svg#gothammediumregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'gothamlightregular';
  src: url('./fonts/Gotham/gothamlight-webfont.eot');
  src: url('./fonts/Gotham/gothamlight-webfont.eot?#iefix') format('embedded-opentype'),
  url('./fonts/Gotham/gothamlight-webfont.woff') format('woff'),
  url('./fonts/Gotham/gothamlight-webfont.ttf') format('truetype'),
  url('./fonts/Gotham/gothamlight-webfont.svg#gothamlightregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'orgonboldregular';
  src: url('./fonts/Orgon/Orgon-Bold.eot');
  src: url('./fonts/Orgon/Orgon-Bold.eot?#iefix') format('embedded-opentype'),
  url('./fonts/Orgon/Orgon-Bold.woff') format('woff'),
  url('./fonts/Orgon/Orgon-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'orgonlightregular';
  src: url('./fonts/Orgon/Orgon-Light.eot');
  src: url('./fonts/Orgon/Orgon-Light.eot?#iefix') format('embedded-opentype'),
  url('./fonts/Orgon/Orgon-Light.woff') format('woff'),
  url('./fonts/Orgon/Orgon-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Material Icons */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v21/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

/* Open Sans (Seems to match parts of the mockups the closest) */
/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/K88pR3goAWT7BTt32Z01mxJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/RjgO7rYTmqiVp7vzi-Q5URJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/LWCjsQkB6EMdfHrEVqA1KRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/xozscpT2726on7jbcb_pAhJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/59ZRklaO5bWGqF5A9baEERJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/u-WUoqrET9fUeobQW7jkRRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
