nav.c-main-nav {
  margin: 0;
  background-color: #233736;
  font-size: 16px;
  top: 0;
  border-bottom: 1px solid #677575;
  position: absolute;
}

nav.c-main-nav .navbar-brand {
  width: 150px;
  text-indent: -2000px;
  background-image: url(./images/corva-logo.png);
  background-repeat: no-repeat;
  background-position: center center;
}

nav.c-main-nav ul.c-main-nav span ul.dropdown-content {
  width: auto !important;
  top: 64px !important;
}

nav.c-main-nav span:nth-of-type(2) {
  position: absolute;
  right: 5px;
}
