nav.c-main-nav {
  z-index: 1000;
  margin: 0;
  background-color: #1e1f1f;
  font-size: 16px;
  top: 0;
  position: absolute;
  height: 47px;
  line-height: 47px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 5px 0 rgba(0, 0, 0, 0.1), 0 3px 1px -2px rgba(0, 0, 0, 0.1);
}

nav.c-main-nav a i {
  height: 47px;
  line-height: 47px;
}

nav.c-main-nav .navbar-brand {
  width: 143px;
  height: 46px;
  margin-top: 1px;
  margin-right: 13px;
  text-indent: -2000px;
  background-image: url(./images/corva-logo.png);
  background-repeat: no-repeat;
  background-position: center center;
}

nav.c-main-nav ul.c-main-nav span ul.dropdown-content {
  width: 200px !important;
  top: 46px !important;
}

nav.c-main-nav ul.c-main-nav span ul.dropdown-content li {
  border-bottom: 1px solid #e0e0e0;
}

nav.c-main-nav ul.c-main-nav span ul.dropdown-content li:last-child {
  border-bottom: none;
}

div.c-main-nav__dropdown__spacer {
  width: 38px;
  display: inline-block;
}

div.c-main-nav__dropdown__outer-icon-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #888;
  display: inline-block;
  margin-left: 3px;
  margin-top: 1px;
  position: absolute;
}

div.c-main-nav__dropdown__inner-icon-circle-inactive {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #ccc;
  margin-left: 2px;
  margin-top: 2px;
  display: inline-block;
}

div.c-main-nav__dropdown__inner-icon-circle-active {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: limegreen;
  margin-left: 2px;
  margin-top: 2px;
  display: inline-block;
}

nav.c-main-nav ul.c-main-nav span ul.dropdown-content li a {
  color: #1e1f1f;
}

nav.c-main-nav span:nth-of-type(2) {
  position: absolute;
  right: 5px;
}
