.c-chart-colors-editor__color {
  float: left;
  margin-bottom: 10px;
  margin-right: 20px;
}
.c-chart-colors-editor__header {
  cursor: pointer;
}
.c-chart-colors-editor__color-box {
  display: inline-block;
  width: 15px;
  height: 15px;
}
