.c-drillstring-component-editor-item {
  border-bottom: 1px solid #666666;
  padding-top: 10px;
  padding-bottom: 20px;
}

.c-drillstring-component-editor-item.even{
  background-color: rgb(42, 41, 41);
}

.c-drillstring-component-editor-item .row {
  margin-bottom: 0px;
}

.c-drillstring-component-editor-item .input-field.col label{
  width: 100%;
}

.c-drillstring-component-editor-item .input-field.col label:after{
  top:40px;
}

.c-drillstring-component-editor-item__nozzle-table td {
  padding: 0px;
}

.c-drillstring-component-editor-item__nozzle-table .input-field {
  padding: 0 10px 0 0 !important;
  margin-top: 0px;
}

.c-drillstring-component-editor-item__obps-table td {
  padding: 0px;
}

.c-drillstring-component-editor-item__obps-table .input-field {
  padding: 0 10px 0 0 !important;
  margin-top: 0px;
}

.c-drillstring-component-editor-item .disabled-input {
  color: #fff !important;
  border-bottom: 1px solid #9e9e9e !important;
}

.c-drillstring-component-editor-item .disabled-input+label {
  color: #9e9e9e !important;
}