.c-drillstring-component-schematic__component {
  max-height: 100%;
  display: flex;
  justify-content: space-around;
}

.c-drillstring-component-schematic__number {
  font-size: 1.2rem;
  width: 30px;
}

.c-drillstring-component-schematic__component-image {
  width: 48px;
  background-size: contain;
}
.c-drillstring-component-schematic__component-image--bit {
  height: 61px;
  background-image: url('../../../images/drillstrings/bit.png');
}
.c-drillstring-component-schematic__component-image--drill_collar {
  height: 55px;
  background-image: url('../../../images/drillstrings/drill_collar.png');
}
.c-drillstring-component-schematic__component-image--drill_pipe {
  height: 56px;
  background-image: url('../../../images/drillstrings/drill_pipe.png');
}
.c-drillstring-component-schematic__component-image--heavy_weight_drill_pipe {
  height: 56px;
  background-image: url('../../../images/drillstrings/heavy_weight_drill_pipe.png');
}
.c-drillstring-component-schematic__component-image--jar {
  height: 58px;
  background-image: url('../../../images/drillstrings/jar.png');
}
.c-drillstring-component-schematic__component-image--motor {
  height: 56px;
  background-image: url('../../../images/drillstrings/motor.png');
}
.c-drillstring-component-schematic__component-image--mwd {
  height: 56px;
  background-image: url('../../../images/drillstrings/mwd.png');
}
.c-drillstring-component-schematic__component-image--spiral_drill_collar {
  height: 56px;
  background-image: url('../../../images/drillstrings/spiral_drill_collar.png');
}
.c-drillstring-component-schematic__component-image--stabilizer {
  height: 57px;
  background-image: url('../../../images/drillstrings/stabilizer.png');
}
.c-drillstring-component-schematic__component-image--sub {
  height: 56px;
  background-image: url('../../../images/drillstrings/sub.png');
}
.c-drillstring-component-schematic__component-image--tail_pipe {
  height: 57px;
  background-image: url('../../../images/drillstrings/tail_pipe.png');
}
