.c-drillstring-component-table table {
  width: 100%;
}

.c-drillstring-component-table thead tr {
  border-bottom: 1px solid white;
}

.c-drillstring-component-table tbody tr:nth-child(even) {
  background-color: rgb(42, 41, 41);
}

.c-drillstring-component-table th {
  margin: 0;
  padding: 0 5px;  
}

.c-drillstring-component-specific-data .row {
  margin-bottom: 0px;
}

.c-drillstring-component-specific-data h5 {
  margin: 0px;
}

.c-drillstring-component-specific-data .input-field.col label{
  width: 100%;
}

.c-drillstring-component-specific-data .input-field.col label:after{
  top:40px;
}

.c-drillstring-component-highlight {
  margin-bottom: 40px;
}

.c-drillstring-component-highlight .row {
  margin-bottom: 10px;
}

.c-drillstring-component-highlight-text-label {
  opacity: 0.6;
}